.form-signin {
    margin: auto;
    max-width: 350px;
}

.list-group-item-enhanced(@color) {
    background-color: @color;
    cursor: pointer;

    &:hover {
        background-color: darken(@color, 3%);
    }
}

.list-group {
    &.list-group-closed .list-group-item {
        .list-group-item-enhanced(#E9E8FA);
    }
    &.list-group-open .list-group-item {
        .list-group-item-enhanced(#E9FAE8);
    }
    &.list-group-pending .list-group-item {
        .list-group-item-enhanced(#F7F1DF);
    }
}
